html, body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    text-align: center;
    pointer-events: none;
}

body {
    background-color: black;
    color: white;
}


.link_button {
    width: 100px;
    height: 70px;
    line-height: 70px;
    background-color: bisque;
    text-align: center;
    border-radius: 15px;
    color: darkblue;
}

a {
    text-decoration: none;
    color: white;
}

canvas {
    cursor: none;
    pointer-events: auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

#debug_info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#sight {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px; /* Half of the width to center it */
    margin-top: -10px; /* Half of the height to center it */
    border: 2px solid red;
    border-radius: 50%;
}